#root {
  margin: auto;
  width: 60%;
}
body{
  background-color: white;
  color: black;
}

.container {
  display:flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  position: relative;
  text-align: center;
  flex-wrap: wrap;
}

.mini-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex: 1;
}

.title {
  display: inline-block;
  margin-bottom: 0;
}

.title-container {
  text-align: left;
  margin-bottom: 50px;
}

.drink-container {
  display: flex;
  justify-content: space-between;
}

button.newdrink {
  width: auto;
  text-align: center;
}

.button {
  background-color: rgba(138, 98, 12, 0.942);
  font-weight: bold;
  color: white;
}

li {
  margin-top:3px;
  margin-bottom:3px;
  margin-right: 10%;
  margin-left: 5%;
  background-color: #FFFDD0;
  border-radius: 15px;
  width: 100%;
  color: black;
  list-style: none;
  text-align: left;
  flex:1;
}

.mini-header{
  height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(226, 195, 147);
  text-align: center;
  border-radius: 10px;
  width: 93%;
  margin: 0;
}

#wrong {
  background-color:rgb(219, 93, 93);
}

#correct {
  background-color:rgb(191, 116, 191);
}

.answer-space {
  background-color: rgb(226, 195, 147);
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-left: auto;
}

.button-container {
  display: flex;
  justify-content: center; /* centers button horizontally */
  margin-top: 20px; /* add desired margin-top to space it from the form */
}